
version: '3.7'
services: 
  web:
    container_name: nginx_web
    image: quay.io/chisanuchakim/helloermine-web
    volumes: 
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./build:/usr/share/nginx/html
    ports:
    - "80:80"
